<!doctype html>
<html>

<head>
  <title>Receiver</title>
  {% assets "receiver_css" %}
  <link rel="stylesheet"
    type="text/css"
    href="{{ ASSET_URL }}">
  </script>
  {% endassets %}
  <script type="text/javascript"
    src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
  <script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/p2.js/0.6.0/p2.min.js"></script>
  {% assets "receiver_js" %}
  <script type="text/javascript"
    src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <head>

    <body>
      <h1>CastRoulette</h1>

      <div id="messages-container">
        Latest message:
        <div id="message"></div>
      </div>


      <canvas id="drawing_canvas"></canvas>

      <div id="marker-line" class="blue">
        <div id="marker" style="bottom: 0"></div>
      </div>
      <div id="strength-message"></div>
    </body>

</html>
